<ul id="users">
    {{#each users}}
        <li id={{username}}>
            <h2>{{username}}</h2>
            <ul id="{{username}}-reports">
                {{#each reports}}
                    <li id={{_id}}>
                        <h3>{{offense}}</h3>
                        <h4>{{location}}, {{borough}}</h4>
                        <h4>{{description}}</h4>
                        <h4>{{date}}</h4>
                    </li>
                {{/each}}
            </ul>
            <ul id="{{username}}-comments">
                {{#each comments}}
                    <h3>{{userId}}</h3>
                    <h4>{{content}}</h4>
                    <h4>{{date}}</h4>
                {{/each}}
            </ul>

            <a href="/users/{{username}}">User Page</a>
        </li>
    {{/each}}
</ul>
<a href="/admin/reports">Approval Page</a>